html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.slides {
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
}

img, video {
    max-width: 100%;
    max-height: 100%;

    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}